# **Importação e tratamento**

In [1]:
import numpy as np
import pandas as pd

produtosdf = pd.read_csv('/content/Planilha sem título - produtos.csv', sep=',')
vendasdf = pd.read_csv('/content/Teste visualização de dados - vendas.csv', sep=',')

In [2]:
produtosdf.head()

   ID_PRODUTO NOME_PRODUTO  PREÇO_KG PESO_MEDIO_UNITARIO_KG
0           1       Banana     4,79                    0,86
1           2         Maçã     3,55                    0,13
2           3         Pêra    14,44                   0,137
3           4    Tangerina     3,33                   0,148
4           5    Carambola    31,42                    0,22

In [3]:
vendasdf.head()

       DATA  ID_PRODUTO VALOR_VENDA FAIXA_HORARIO
0  8/1/2021           6       25,25         10:00
1  8/1/2021           3        25,4          7:00
2  8/1/2021          13       15,38         13:00
3  8/1/2021           5       26,88         14:00
4  8/1/2021           6        8,37         11:00

In [4]:
vendasdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9806 entries, 0 to 9805
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATA           9806 non-null   object
 1   ID_PRODUTO     9806 non-null   int64
 2   VALOR_VENDA    9806 non-null   object
 3   FAIXA_HORARIO  9806 non-null   object
dtypes: int64(1), object(3)
memory usage: 306.6+ KB

In [5]:
vendasdf['ID_PRODUTO'] = vendasdf['ID_PRODUTO'].astype('object')

In [6]:
vendasdf['VALOR_VENDA'] = pd.to_numeric(vendasdf['VALOR_VENDA'].str.replace(',', '.'), errors='coerce')

In [7]:
vendasdf['DATA'] = pd.to_datetime(vendasdf['DATA'], format='%m/%d/%Y')

In [8]:
descricao = vendasdf.describe()
descricao = descricao.round(2)
descricao

       VALOR_VENDA
count      9806.00
mean         16.36
std           8.59
min           1.50
25%           9.00
50%          16.32
75%          23.71
max          35.95

# **1) Como está a evolução do meu faturamento em geral (todos os produtos)**

In [9]:
soma_valores = vendasdf['VALOR_VENDA'].sum()
soma_arredondada = round(soma_valores, 2)
print("A soma dos valores é:", soma_arredondada)

A soma dos valores é: 160383.88


Valor identico ao do excel; 
![Captura de tela 2023-04-11 161712.png]()

# **2) Qual foi o meu melhor dia em vendas?**

In [10]:
grupo_por_dia = vendasdf.groupby(vendasdf['DATA'].dt.date).agg({'VALOR_VENDA': 'sum'})

melhor_dia = grupo_por_dia.idxmax()[0]
valor_vendas_melhor_dia = grupo_por_dia.max()[0]

print('O melhor dia de venda foi:', melhor_dia)
print('Com um total de vendas de R$', round(valor_vendas_melhor_dia, 2))

O melhor dia de venda foi: 2021-10-26
Com um total de vendas de R$ 2365.34

# **3)Qual foi o dia em que eu mais vendi Bananas?**

In [11]:
# Filtra o DataFrame para incluir somente as linhas com ID_PRODUTO = 1
df_filtrado = vendasdf[vendasdf['ID_PRODUTO'] == 1]

# Agrupa o DataFrame filtrado por dia e soma a coluna 'VALOR_VENDA' de cada grupo
grupo_por_dia = df_filtrado.groupby(df_filtrado['DATA'].dt.date).agg({'VALOR_VENDA': 'sum'})

# Encontra o dia em que a soma foi maior
melhor_dia = grupo_por_dia.idxmax()[0]
valor_vendas_melhor_dia = grupo_por_dia.max()[0]

print('O melhor dia de venda para o produto 1 foi:', melhor_dia)
print('Com um total de vendas de R$', round(valor_vendas_melhor_dia, 2))

O melhor dia de venda para o produto 1 foi: 2021-10-28
Com um total de vendas de R$ 291.72

# **4)Qual produto eu vendo em maior quantidade (kg)?**

In [13]:
vendasdf['VALOR_VENDA'] = vendasdf['VALOR_VENDA'].astype(str)
vendasdf['VALOR_VENDA'] = vendasdf['VALOR_VENDA'].str.replace(',', '.').astype(float)
produtosdf[['PREÇO_KG', 'PESO_MEDIO_UNITARIO_KG']] = produtosdf[['PREÇO_KG', 'PESO_MEDIO_UNITARIO_KG']].apply(lambda x: x.str.replace(',', '.').astype(float))

In [14]:
df = vendasdf.merge(produtosdf, on='ID_PRODUTO')

df['QUANTIDADE_KG'] = df['VALOR_VENDA'] * df['PESO_MEDIO_UNITARIO_KG']

quantidade_por_produto = df.groupby('NOME_PRODUTO')['QUANTIDADE_KG'].sum()

produto_mais_vendido = quantidade_por_produto.idxmax()
produto_mais_vendido

'Uva'

# **5)Quais estratégias você sugeriria para um faturamento maior?**

In [15]:
#quantidade que cada produto lucrou em cada mês ordenando o mais vendido  

df = vendasdf.merge(produtosdf, on='ID_PRODUTO')

df['LUCRO'] = df['VALOR_VENDA'] * df['PESO_MEDIO_UNITARIO_KG'] - df['PREÇO_KG']

df['DATA'] = pd.to_datetime(df['DATA'], format='%d/%m/%Y')

df_grouped = df.groupby([df['DATA'].dt.month, 'NOME_PRODUTO'])['LUCRO'].sum().reset_index()

df_sorted = df_grouped.sort_values(by='LUCRO', ascending=False)

print(df_sorted)

    DATA NOME_PRODUTO         LUCRO
29    10      Abacaxi   3153.773520
15     9      Abacaxi   2943.122400
3      8       Banana   2534.149000
1      8      Abacaxi   2530.826400
31    10       Banana   2283.249080
17     9       Banana   2089.396800
41    10          Uva    612.047220
7      8        Limão    496.648480
35    10        Limão    422.121440
21     9        Limão    372.131400
34    10      Laranja    143.429746
6      8      Laranja    107.122720
20     9      Laranja     97.595440
36    10        Mamão     90.163200
8      8        Mamão     77.774520
22     9        Mamão     66.961800
32    10         Caju    -69.230898
18     9         Caju    -97.639230
4      8         Caju    -97.747590
27     9          Uva    -99.269100
13     8          Uva   -192.310500
40    10    Tangerina   -245.580840
23     9         Maçã   -279.343100
37    10         Maçã   -301.177660
9      8         Maçã   -377.769200
12     8    Tangerina   -382.214440
26     9    Tangerina   -425.556240
0      8      Abacate   -628.094000
28    10      Abacate   -681.369200
14     9      Abacate   -822.890000
25     9      Pêssego  -1115.015250
39    10      Pêssego  -1188.782994
11     8      Pêssego  -1273.540710
30    10       Ameixa  -2456.658470
2      8       Ameixa  -2797.625950
16     9       Ameixa  -2920.810200
38    10         Pêra  -3418.626368
24     9         Pêra  -3972.400550
10     8         Pêra  -4157.789210
33    10    Carambola  -9423.287800
5      8    Carambola -11131.157000
19     9    Carambola -11968.613000

No dataset coletado em Agosto, Setembro e Outubro, as frutas Caju, Uva, Tangerina, Maçã, Abacate, Pêssego, Ameixa, Pêra e Carambola tiveram um saldo negativo. Para contornar esse problema, é possível fazer promoções com marketing para obter resultados mais positivos, desde que se saiba o preço adquirido do fornecedor para evitar prejuízos. No entanto, a Uva foi o único produto que teve resultado positivo no último mês, enquanto nos meses anteriores foi negativo. Laranja e Mamão mantiveram-se acima do negativo, mas ainda há espaço para melhorar os resultados.

Minha sugestão é coletar dados adicionais, como o prazo de validade das frutas, o preço adquirido do fornecedor e outros gastos, e criar um algoritmo que sugira maneiras de estabilizar o preço antes que os produtos sejam completamente perdidos. Isso envolveria tentar vender as frutas o mais rápido e lucrativamente possível, sem perdas desnecessárias.